/* Navbar */

header {
    background: #5096B3;
    min-height: 70px; /* altura minima para responsive*/
    border-radius: 6px;
}

.containerNavbar {
    flex: content;
    display: flex;
    border: 3px #010101;
    align-items: center;
}

.navbar { 
    display: flex;
    align-items: center;
    /* padding-top: 5px; */
}

.brand {
    font-size: 28px;
    text-decoration: none;   
    color: aliceblue;
    margin: 5px;
    display: flex;
}


.box-elements {
   display: flex;
   margin: 7px;
}


.nav-link {
    padding: 7px;
    text-decoration: none;
    color: #040404;
    font-size: 16px;
} 

.nav-link:hover {
    color: #ffffff;
}

.logo {
    display: flex;
    background: #ffffff;
    border-radius: 40px;
    margin: 10px;
    height: 60px;
}

@media (max-width:700px) {
    .navbar {
        flex-direction: column;
    }
}
